*{
    padding: 0;
    margin: 0;
}
header{
    height: 100px;
    width: 100%;
}
h1{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 100%;
    margin-top:100px;

}
img{
    margin-right:30px;
    margin-top:50px;
    border: 3px solid black;
    width: 100px;
    height: 100px;
}
.SectionButtons{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 30px;
    gap: 40px;
    justify-content: flex-end;
}
.Home{
    display: flex;
    justify-content: flex-end;
    margin: 50px;
}
a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  
  a.button:hover {
    background-color: #3e8e41;
  }

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  th, td {
    padding: 10px;
  }
  
  th {
    background-color: #ccc;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
